li{
    border-bottom: 1px solid #444;
    background-color: #1D2026;
    font-size: 20px;
    padding: 10px 5px;
   transition-property: background-color;
   transition-duration: 0.5s;
   
    
}
a{
    color:#ffffff;
    display:block;
    font-family:sans-serif;
    text-decoration:none;
}



ul{
   list-style:none;
   text-align:center; 
}

li:hover{
    border-bottom: 1px solid #444;
    background-color: #444;
    font-size: 20px;
    padding: 10px 5px; 
    
    
}

@media screen and (min-width: 768px){

li{
    display:inline-block;
    font-size: 20px;
    width:120px;
    

}
ul{
 background-color: black;   
    
    
}

